@import "tailwindcss";

body {
	font-family: 'Inter', system-ui, sans-serif;
	background: linear-gradient(120deg, #f8fafc 0%, #e2e8f0 100%);
	color: #222;
}

input, button, textarea {
	font-family: inherit;
}
